*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    line-height: normal;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}