@-webkit-keyframes slide-right {
    0% {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh);
    }
    100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    }
}
@keyframes slide-right {
    0% {
    -webkit-transform: translateX(-100vh);
            transform: translateX(-100vh);
    }
    100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    }
}